# ملفات البيئة السرية
.env
backend/.env
credentials.json
backend/credentials.json

# ملفات بايثون المؤقتة
__pycache__/
*.py[cod]
*.class

# ملفات Flutter والمجلدات
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Generated.xcconfig
android/key.properties

# ملفات نظام التشغيل
.DS_Store
Thumbs.db
*.env.backup
*.env
