Flask
flask-cors
python-dotenv
PyJWT
requests
supabase
postgrest
realtime
storage3
supabase-functions
deprecation
httpx
anyio
httpcore
h11
certifi
idna
charset-normalizer
urllib3
strenum
yarl
websockets
typing-extensions
pydantic
